img {
    height: 200px;
}

#search {
    width: 400px;
    height: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.doctor-img {
    height: 150px;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

button {
    height: 26.5px;
    margin: 50px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

  }

.container {
  display: flex;
  flex-direction: row;
    justify-content: center;
    flex-wrap:wrap

}
